<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Edit User</h1>
<form th:method="patch" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required><br><br>
    <div th:if="${#fields.hasErrors()}" th:errors="*{name}" style="color:red">Name error</div>
    <br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required><br><br>
    <div th:if="${#fields.hasErrors()}" th:errors="*{email}" style="color:red">Email error</div>
    <br><br>

    <label for="tgName">Tg Name:</label>
    <input type="text" id="tgName" th:field="*{tgName}" required>
    <div th:if="${#fields.hasErrors()}" th:errors="*{tgName}" style="color:red">TgName error</div>
    <br><br>

    <input type="submit" value="Save">
</form>

<br><br>
<a href="/users">Back to User List</a>
</body>
</html>